*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #f5e6e6;
}
.mynthra_logo{
 height: 40px;
}
.home_icon{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}
.nav_bar a{
    text-decoration: none;
    letter-spacing: .3px;
    color: black ;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
}
.nav_bar a:hover{
    border-bottom: 5px solid red;
}
.nav_bar a sup{
    color: red;
    font-size: 10px;
}
.search_bar{
    height: 40px;
    min-width: 400px;
    display: flex;
    align-items: center;

}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f1ece6;
    border-radius: 10px 0 0 10px;
}
.input_space{
flex-grow: 1;
height: 40px;
border: 0;
border-radius: 0 10px 10px 0;
background-color: #f1ece6;
}
.action_bar{
    display: flex;
   min-width: 200px;
   justify-content: space-evenly;
   
}
.action_name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_bar a .men:hover{
    text-decoration: underline;
}
/**main section**/
.banner{
    width: 100%;
}
.banner_container{
    margin: 40px 0;
}
.category_heading{
    text-transform: uppercase;
    color:#3e4152;
    letter-spacing: .15em;
    font-size:1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_item{
 display:flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 
}
.sales_item{
width: 250px;

}
.footer_container{
padding: 30px 0 40px 0;
background-color: #FAFBFC;
display: flex;
justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;

}
.footer_column a {
 color: #696b79;
 font-size: 15px;
 text-decoration: none;
 padding-bottom: 5px;
}
.footer_column h1{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}
